[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[all]>=0.122.0",
    "openpyxl>=3.1.5",
    "pandas>=2.3.3",
]
